################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/halloween_key
/halloween_key.pub
/.vs
/bin/Debug/net9.0
/obj
/obj/Debug/net9.0/ref/HalloweenContestManager.dll
/obj/Debug/net9.0/refint/HalloweenContestManager.dll
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/HalloweenContestManager.dll
/obj/Debug/net9.0/HalloweenContestManager.pdb
/obj/Debug/net9.0/HalloweenContestManager.sourcelink.json
/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/obj/Debug/net9.0/rpswa.dswa.cache.json
/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/bin/Release/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Release/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/bin/Release/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/bin/Release/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/bin/Release/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/bin/Release/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/bin/Release/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
*.dll
/bin/Release/net9.0/appsettings.Development.json
/bin/Release/net9.0/appsettings.json
/bin/Release/net9.0/HalloweenContestManager.deps.json
/bin/Release/net9.0/HalloweenContestManager.exe
/bin/Release/net9.0/HalloweenContestManager.pdb
/bin/Release/net9.0/HalloweenContestManager.runtimeconfig.json
/bin/Release/net9.0/HalloweenContestManager.staticwebassets.endpoints.json
/bin/Release/net9.0/HalloweenContestManager.staticwebassets.runtime.json
/obj/Debug/net9.0/compressed/34fdyrtcd3-bpk8xqwxhs.gz
/obj/Debug/net9.0/compressed/3gin1ph7ub-25o87uqmvr.gz
/obj/Debug/net9.0/compressed/9dhir1errp-8inm30yfxf.gz
/obj/Debug/net9.0/compressed/cq1zoemt7b-zijdu49vt8.gz
/obj/Debug/net9.0/compressed/ghdoofc0gb-da95v2qkru.gz
/obj/Debug/net9.0/compressed/k452sxuody-inxw7fbrlz.gz
/obj/Debug/net9.0/compressed/unlu0xluo6-eu7w3d5g1a.gz
/obj/Debug/net9.0/HalloweenContestManager.AssemblyInfo.cs
/obj/Debug/net9.0/HalloweenContestManager.AssemblyInfoInputs.cache
/obj/Debug/net9.0/HalloweenContestManager.assets.cache
/obj/Debug/net9.0/HalloweenContestManager.csproj.AssemblyReference.cache
/obj/Debug/net9.0/HalloweenContestManager.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/HalloweenContestManager.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/rbcswa.dswa.cache.json
/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/obj/Debug/net9.0/staticwebassets.build.json
/obj/Debug/net9.0/staticwebassets.build.json.cache
/obj/Debug/net9.0/staticwebassets.development.json
/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
/obj/HalloweenContestManager.csproj.nuget.dgspec.json
/obj/HalloweenContestManager.csproj.nuget.g.props
/obj/HalloweenContestManager.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
