################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/halloween_key
/halloween_key.pub
/.vs
